@font-face {
    font-family: twitch;
    src: url('Twitchy.TV.otf');
}

header,footer {
    font-family: twitch;
    color: white;
    text-shadow: none;
    filter: 
        drop-shadow(-0.01em -0.01em 0px blueviolet)
        drop-shadow(0.01em -0.01em 0px blueviolet)
        drop-shadow(-0.01em 0.01em 0px blueviolet)
        drop-shadow(0.01em 0.01em 0px blueviolet)
        drop-shadow(0.02em 0.02em 0px blueviolet)
        drop-shadow(0.03em 0.03em 0px blueviolet)
        drop-shadow(0.04em 0.04em 0px blueviolet)
        drop-shadow(0.05em 0.05em 0px blueviolet)
        drop-shadow(0.06em 0.06em 0px blueviolet)
    ;
    margin-top: -1.15em;
}